.card {
    box-shadow: 0px 0px 10px #2321321F;
    padding: 20px;
    min-height: 100px;
    min-width: 100px;
    background-color: white;
    max-width: 391px;
    max-height: 253px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    margin: 3.75rem 0px;
    margin-left: 48px;
    transition-duration: 0.5s;
    position: relative;
    z-index: 999;
}

.card:hover {
    border: 1px solid #9F62C9;
    background-color: #9F62C9;
    color: white;
    opacity: 0.7;
}
.card:hover .description{
    color: white;
}

.card .img {
    width: 5.625rem;
    height: 5.625rem;
}

.card .heading {
    font-size: 0.938rem;
    margin: 10px 0px;
    font-weight: bold;
}

.card .description {
    color: #999999;
    font-size: 0.938rem;
    transition-duration: 0.5s;
    max-width: 230px;
}